/* app css stylesheet */

@import "proxima-nova.css";

body {
    margin: 0px;
}

/*.menu {
    list-style: none;
    text-align: center;
    padding: 4px 0px 4px 0px;
    background-color: white;
    color: #0e678d;
    font-size: 24px;
    font-family: "Proxima Nova", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
    margin: 0px;
}*/

p {
    margin: 0px;
}

.main-container {   
    text-align: center;
}

.name {
    height: 40px;
    padding-top: 130px;
}

.menu {
    height: 40px;
    font-size: 20px;
    letter-spacing: 0em;
}

.intro-container {
    text-align: center;
    height: 300px;
    line-height: 0px;
    color: white;
    font-size: 48px;
    font-family: "Proxima Nova", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
    background-image: url('/images/intro.jpg');
    /* Use proxima font */
    background-size: cover;
    letter-spacing: 0.2em;
    opacity: 1;
}

.projects-container {
    text-align: center;
    height: 300px;
    line-height: 300px;
    background-color: #DEDEDE;
    color: black;
    font-size: 36px;
    font-family: "Proxima Nova", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
}