/* app css stylesheet */

@import "proxima-nova.css";

body {
    margin: 0px;
}

/*.menu {
    list-style: none;
    text-align: center;
    padding: 4px 0px 4px 0px;
    background-color: white;
    color: #0e678d;
    font-size: 24px;
    font-family: "Proxima Nova", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
    margin: 0px;
}*/

p {
    margin: 0px;
}

.main-container {   
    text-align: center;
    background-image: url('/images/noise.png');
    background-size: fit;
}

.name {
    height: 40px;
    padding-top: 230px;
    font-size: 36px;
    -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 4s; /* Firefox < 16 */
        -ms-animation: fadein 4s; /* Internet Explorer */
         -o-animation: fadein 4s; /* Opera < 12.1 */
            animation: fadein 4s;
}

.menu {
    height: 40px;
    font-size: 16px;
    letter-spacing: 0em;
    -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 4s; /* Firefox < 16 */
        -ms-animation: fadein 4s; /* Internet Explorer */
         -o-animation: fadein 4s; /* Opera < 12.1 */
            animation: fadein 4s;
}

.menu-projects {
    cursor: pointer;
}

.menu-projects:hover {
    color: #0bacff;
}

.menu-item {
    cursor: pointer;
    padding: 0px 10px 0px 10px;
}

.menu-item:hover {
    color: #0bacff;
}

.menu .resume {
    padding-left: 0px;
}

a { 
    color: inherit; 
    text-decoration: none;
} 

.user {
    padding-top: 40px;
    height:30px;
    width: 30px;
}

.suitcase {
    padding-top: 40px;
    height:30px;
    width: 30px;
}

.about-title {
    height: 40px;
    letter-spacing: 0em;
    padding: 10px 0px 20px 0px;
    font-weight: 500; 
    font-size: 26px;  
}

.projects-title {
    height: 40px;
    letter-spacing: 0em;
    padding: 20px 0px 10px 0px;
    font-weight: 500;
    font-size: 26px;
}

.footer-title {
    height: 40px;
    letter-spacing: 0em;
    padding: 20px 0px 20px 0px;
    font-weight: 500;
    font-size:16px;
    color: white;
}

.project {
    height: auto;
    max-width: 1200px;
    text-align: left;
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    overflow:hidden;

}

.project .left-container {
    height: auto;  
    width: 35%;
    float:left;
    font-size: 26px;
    margin-right: 10px;
}

.project .right-container {
    height: 200px;
    width: 60%;
    float: left;
    font-size: 26px;
    position: relative;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.desc {
    text-align: left;
    height: auto;
    position: absolute;              
    top: 50%;                         
    transform: translate(0, -50%);
    font-weight: 500;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 20px;
}

@media (max-width: 1080px) {
    /* For desktop: */
    .project .left-container {width: 100%;}
    .project .right-container {
        width: auto; 
        height: auto;
        text-align: center;
        padding-right: 60px;
        padding-left: 60px;
        padding-top: 20px;
    }
    .desc {
        position: static;
        padding: 0px;
        text-align: center;
    }
}


.project .title-thumb-container {
    height: auto;
    width: 248px;
    margin: auto;
}

.project .title {  
    height: 40px;
    width: 248px;
    padding: 0px 0px 0px 0px;   
    letter-spacing: 0em;
    /*color: #0e81b3;*/
    line-height: 0.8em;
    text-align: center;
    font-weight: 500;
    font-size: 24px;
}

.project .kmeans {
    padding-bottom: 20px;
}

.project .thumbnail {
    height: 160px;
    width: 248px;
    margin: 0px 0px 0px 0px;
    background-color: gray;
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
}

.gf {
    background-image: url('/images/rs.png');
    background-size: cover;
}

.cp {
    background-image: url('/images/phone_compare.png');
    background-size: cover;
}
.typeracing {
    background-image: url('/images/tr.png');
    background-size: cover;
}

.resume-img, .github-img, .linkedin-img {
    margin-bottom: 4px;
    margin-right: 2px;
    height: 16px;
    width: 16px;
}

.github-img, .linkedin-img {
    margin-right: 4px;
}

.intro-desc {
    height: auto;
    width: 60%;
    letter-spacing: 0em;
    padding: 20px 0px 60px 0px;
    font-weight: 300;
    display: block;
    margin: 0 auto;
    font-size: 20px;
}

.intro-container {
    text-align: center;
    height: 500px;
    line-height: 0px;
    color: white;
    font-size: 48px;
    font-family: "Proxima Nova", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
    background-image: url('/images/intro.jpg');
    /* Use proxima font:  */
    background-size: cover;
    letter-spacing: 0.2em;
    opacity: 1;
    display: block;
    margin: 0 auto;
}

.projects-container {
    text-align: center;
    height: auto;
    color: white;
    /*For silver brushed background*/

    /*background-color: #3c7d6b;*/
    background-image: url('/images/noise.png');
    background-size: fit;

    font-size: 36px;
    font-family: "Proxima Nova", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.about-container {
    text-align: center;
    height: auto;
    /*background-color: #3c7d6b;
    /* green: #3c7d6b;*/
    color: black;
    background-image: url('/images/brushed.png');
    background-size: fit;

    font-size: 36px;
    font-family: "Proxima Nova", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.footer {
    height: 100px;
    font-family: "Proxima Nova", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media (max-width: 600px) {
    /* For desktop: */
    .project .right-container {
        padding-right: 20px;
        padding-left: 20px;
    }

    .intro-desc {
        width: auto;
        padding-right: 30px;
        padding-left: 30px;
        margin-left: 0px;
        margin-right: 0px;
    }
}

/*http://stackoverflow.com/questions/11679567/using-css-for-fade-in-effect-on-page-load*/
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}